<div class="row">
  <div class="span8 well">
    <p>
      <%= render post.categories %>
    </p>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by:</span> <%= post.creator.user_name %>
      <small>at <%= date_time(post.created_at) %></small>
    </p>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </div>
</div>
